#!/bin/sh

# config git alias
alias config='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME'

alias sourcezsh='source ~/.zshrc'

alias cdgit='cd $HOME/git'
alias cdcarlo='cdgit && cd beat/carlo'
alias bionic='schroot -c chroot:bionic'
alias beat='schroot -c chroot:beat'
alias beat='schroot -c chroot:beat'
alias beat='schroot -c chroot:beat'
alias beat='schroot -c chroot:beat'
alias beat='schroot -c chroot:beat'
alias beat='schroot -c chroot:beat'
alias beat='schroot -c chroot:beat'
alias beat='schroot -c chroot:beat'
alias beat='schroot -c chroot:beat'
alias beat='schroot -c chroot:beat'
alias beat='schroot -c chroot:beat'
alias beat='schroot -c chroot:beat'
alias beat='schroot -c chroot:beat'
alias beat='schroot -c chroot:beat'
alias beat='schroot -c chroot:beat'
alias beat='schroot -c chroot:beat'
alias beat='schroot -c chroot:beat'
alias beat='schroot -c chroot:beat'
alias beat='schroot -c chroot:beat'
alias beat='schroot -c chroot:beat'
alias beat='schroot -c chroot:beat'
alias beat='schroot -c chroot:beat'
alias beat='schroot -c chroot:beat'
alias ubuntu_bionic='schroot -c chroot:ubuntu_bionic'
