#!/bin/sh

# overwrite aliases
alias vim='nvim'

# config git alias
alias config='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME'
alias sourcezsh='source ~/.zshrc'

# convenience
if [ -z "$SCHROOT_SESSION_ID" ]; then
	alias cat='bat'
fi

# wtf
alias wts='stty sane; clear;'

# navigation
alias cddata1='cd /media/data1'
alias cdconfig='cd ~/.config'
alias cdlog='cd /var/log'
alias cdnvim='cdconfig && cd nvim'
alias cdkitty='cdconfig && cd kitty'
alias cdbspwm='cdconfig && cd bspwm'
alias cdsway='cdconfig && cd sway'

alias cdws='cd "$HOME/workspace"'
alias cdgit='cdws && cd git'
alias cdcarlo='cdgit && cd beat/carlo'
alias cdkb='cdgit && cd beat/kitebuddies'
alias cdseeme='cdgit && cd beat/see-me'
alias cdnavlog='cdws && cd analysis/navigation_analysis'
alias cdnas='cd /mnt/wutang_nas'
alias cdwine='cd $HOME/.wine'

alias 'rm -rf'='rm -rfi'

# schroot aliases
alias ubuntu-see-me='schroot -c chroot:see-me'

alias nvidia-power='nvidia-smi -i 0 -q -d POWER'

if [ -f "$HOME/.mtr_aliases" ]; then
	. "$HOME/.mtr_aliases"
fi
