#!/bin/bash

# system
alias hibernate='systemctl hibernate'
alias esc='sudo -E systemctl edit --full'
alias sc='sudo SYSTEMD_EDITOR=vim systemctl'
alias jc='sudo journalctl'

. /usr/share/bash-completion/completions/systemctl
. /usr/share/bash-completion/completions/journalctl
complete -F _systemctl systemctl sc
complete -F _journalctl journalctl jc

# overwrite aliases
if command -v nvim >/dev/null 2>&1; then
  # alias nvim="nvim --listen /tmp/nvim-server.pipe"
  alias vim='nvim'
fi
alias egrep='grep -E'

local_config="$HOME/.config"

# config git alias
alias config='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME'
alias sourcezsh='source ~/.zshrc'
alias sourcebash='source ~/.bashrc'

# convenience
if command -v bat >/dev/null 2>&1; then
  alias cat='bat'
fi

# wtf
alias wts='stty sane; clear;'

# navigation
alias cddata1='cd /media/data1'
alias cdc='cd $local_config'
alias cdl='cd /var/log'
alias cdnvim='cd $local_config/nvim'
alias cdkitty='cd $local_config/kitty'
alias cdbspwm='cd $local_config/bspwm'
alias cdsway='cd $local_config/sway'

alias cdws='cd "$HOME/workspace"'
alias cdsandbox='cdws && cd sandbox'
alias cdgit='cdws && cd git'
alias cdcarlo='cdgit && cd beat/carlo'
alias cdkb='cdgit && cd beat/kitebuddies'
alias cdseeme='cdgit && cd beat/see-me'
alias cdnavlog='cdws && cd analysis/navigation_analysis'
alias cdnas='cd /mnt/wutang_nas'
alias cdwine='cd $HOME/.wine'
alias cdjust='cdgit && cd just'
alias cdflarmrs='cdgit && cd beat/flarm-rs'
alias cdflarmcli='cdgit && cd beat/flarm-cli'
alias cdairshow='cdgit && cd beat/airshow'

# editing
alias vimbashrc='vim ~/.bashrc'
alias vimsim='vim $SIMULATION_CONFIG'
alias vimdds='vim $MTR_DDS_APPLICATION_PROFILE'

# schroot aliases
alias ubuntu-see-me='schroot -c chroot:see-me'

alias nvidia-power='nvidia-smi -i 0 -q -d POWER'

if [ -f "${HOME}/.aliases_mt" ]; then
  . "${HOME}/.aliases_mt"
fi
