[user]
	name = Beat Scherrer

[core]
  editor = vim
  hooksPath = ~/.git_hooks

[alias]
  co = checkout
  ci = commit
  st = status -s
  br = branch
  pl = pull
  pa = pull --recurse-submodules
  fa = fetch --all
  cs = clone --recursive -b
  hist = log -20 --graph --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  subup = submodule update --init --recursive
  last = log  -1 HEAD
  unstage = reset HEAD --
  mh = merge -Xignore-space-change -Xrename-threshold=25

[push]
  default = simple

[merge]
  tool = vimdiff

[mergetool]
  prompt = false
  keepBackup = false

[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[diff]
  tool = vimdiff
  prompt = false

[difftool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE

[init]
	defaultBranch = main
[pack]
	windowMemory = 100m
	packSizeLimit = 100m
	threads = 1
