
* {
  all: unset; //Unsets everything so you can style everything from scratch
}

// variables
$bg-dark: #3a3a3a;
$bg-dark-light: #444444;
$selection: #666666;
$fg: #FFFFFF;

$bg: $bg-dark;

$padding: 12px;

.container {
  background-color: $bg-dark;
  padding: 2em;

  :hover {
    background-color: $selection;
  }
}

.button {
  background-color: $bg-dark-light;
  padding: 1em;
  font-size: 2em;

  :hover {
    background-color: #FF0000;
  }
}

.bar-container {
  background-color: $bg-dark;
}

.bar-button {
  font-size: 1em;
  padding: 0 0.2em;
}

.icon-highlight {
  font-size: 3em;
  padding: 0 0.3em;
  background-color: white;
  color: black;
}

.icon {
  font-size: 2em;
  padding: 0 0.3em;
  background-color: $bg-dark;
  color: $fg;
}


@keyframes example {
  from {background-color: red;}
  to {background-color: yellow;}
}
