[Desktop Entry]
Version=1.0
Type=Application
Name=RTI Admin Console
Comment=RTI admin console to debug rti stuff
Exec=schroot -c chroot:ub22 /bin/bash -- -c "export DISPLAY=:0 && /opt/rti_connext_dds-7.0.0/bin/rtiadminconsole&"
Terminal=false
Icon=/srv/chroot/ub22/opt/rti_connext_dds-7.0.0/resource/app/app_support/launcher/icons/RTI_Launcher_Dock-Icon_256x256.png
Categories=Utility;Development;
Keywords=rti;console;admin
